@{
    ViewData["Title"] = "Brief";
}

<h1>@ViewData["Title"]</h1>

<section>
    <h2>Company Info</h2>
    <table>
        <tr>
            <td>Company/Business Name</td>
            <td>EvilMart</td>
        </tr>
        <tr>
            <td>Company Description</td>
            <td>Our store is just like Walmart just evil</td>
        </tr>
        <tr>
            <td>Group Members and Roles</td>
            <td>
                <ul>
                    <li>Front-end Developer :- Kshitij Narula</li>
                    <li>Back-end Developer :- Kshitij Narula</li>
                    <li>Full Stack Developer :- Kshitij Narula</li>
                </ul>
            </td>
        </tr>
    </table>
</section>

<section>
    <h2>Proposal</h2>
    <p>
        Our Store sells alot of stuff like Walmart, we have the same stuff but we charge more just beacause we are evil and We like money, its not like walmart is a saint you know how they earn money, they also rip people off, and we just take it a step further.
    </p>
</section>