@{
    ViewData["Title"] = "Home Page";
}
<div class="image">
<img src="/images/EvilMart.png">
</div>
<div class="text-center">
    <h1 class="display-4">Welcome Humans</h1>
    <p>Learn about this Evil Supermarket.</p>
</div>
